<%- include("header.ejs") -%>

<nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">DAILY JOURNAL</p>
      </div>
        <ul class="nav navbar-list navbar-nav navbar-right">
            <!-- 6 -->
            <li class="nav-item" id="home"><a class="nav-link nav-link-hover text-dark" href="/diary">HOME</a></li>
            <li class="nav-item" id="compose"><a class="nav-link nav-link-hover text-dark" href="/compose">COMPOSE</a></li>
            <li class="nav-item" id="about"><a class="nav-link nav-link-hover text-dark" href="/about">ABOUT US</a></li>
            <li class="nav-item" id="contact"><a class="nav-link nav-link-hover text-dark" href="/contact">CONTACT US</a></li>
            <div class="nav-item" id="contact"><a class="nav-link logout-btn border py-2 px-3 btn-danger rounded" href="/logout">LOG OUT</a></div>
          </ul>
    </div>
  </nav>

  <body>
    <div class="container">