<%- include("partials/navbar.ejs") -%>
<h2 class="my-4">About</h2>
<p style="line-height: 1.5;"><%- aboutcontent -%></p>
<p class="text-gray">If you would like to contribute to this project, feel free to submit a pull request in <a class="text-teal" href="https://github.com/Adithya2310/DairyApp">Github</a></p>
<%- include("partials/footer.ejs") -%>