body {
    background-color: #E8ECEF;
  }

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav li a:hover {
    color: #1abc9c !important;
}


.navbar-list{
    display: flex !important;
    flex-direction: row;
    gap: 2rem;
    color: rgb(17,17,17);
}

.home-contianer{
    margin-top: 15rem;
    text-align: center;
}

.home-header{
    margin: 1rem 0;
}

.footer-padding {
	padding-bottom: 60px;
}



.footer {
    position: fixed;
    bottom: 0%;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #1abc9c;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
}
/* To style the textBoxes */
input[type=text]{
    width: 100%;
}
input[type=textarea]
{
    width: 100%;
    height: 30rem;
}
input{
    margin-bottom: 20px;
}

.text-teal{
color: #1abc9c;
}

.btn-teal{
    background-color: #1abc9c;
    color: aliceblue;
}

.btn-light-register{
    border: 1px;
    border-color: rgb(17,17,17);
    border-radius: 10px;
}

/* styling google button */
.btn-google {
    display: inline-block;
    background-color: #4285F4;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 24px;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  .btn-google i {
    display: inline-block;
    font-size: 16px;
    margin-right: 12px;
  
  }
  .btn-google:hover {
    background-color: #3075B8;
  }


  /* styling for facebook button */
  .btn-facebook {
    display: inline-block;
    background-color: #3b5998;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 24px;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  .btn-facebook:hover {
    background-color: #2d4373;
  }
  .btn-facebook i {
    display: inline-block;
    font-size: 16px;
    margin-right: 12px;
    vertical-align: middle;
  }
  .btn-facebook span {
    display: inline-block;
    vertical-align: middle;
  }


